*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Footlight MT Light';
}

.container {
   display: flex;
   justify-content: center;
}

.general-header {
   align-items: first baseline;
   text-decoration: none;
   width: 100%;
   height: 10%;
   padding-bottom: 1ch;
}

.navbar {
   justify-content: space-between;
   text-decoration: none;
}

.left-column {
   width: 39%;
   font-family: 'Copperplate Gothic Boli';
   font-size: 28px;
   background-color: aqua;
}

.middle-column {
   width: 21%;
   text-transform: uppercase;
   font-size: 40px;
   background-color: coral;
}

.right-column {
   width: 39%;
   font-family: 'Copperplate Gothic Boli';
   font-size: 28px;
   background-color: aqua;
}

.summaries {
   display: inline-flex;
   width: 100%;
   padding-bottom: 3ch;
}

.content {
   display: flex;
   width: 25%;
}

.first-summary {
   padding-left: 7%;
   height: 5%;
   background-color: greenyellow;
}
.second-summary {
   padding-left: 2%;
   height: 5%;
   background-color: lightpink;
}
.third-summary {
   padding-left: 18%;
   height: 5%;
   background-color: greenyellow;
}
.fourth-summary {
   padding-left: 12%;
   height: 5%;
   background-color: lightpink;
}

.posters {
   display: inline-table;   
}
.first-image {
   width: 25%;
   height: 576px;
}
.second-image {
   width: 25%;
   height: 576px;
}
.third-image {
   width: 25%;
   height: 576px;
}
.fourth-image {
   width: 25%;
   height: 576px;
}

.description {
   display: flex;
   width: 100%;
}

.first-column {
   display: flex;
   width: 25%;
   padding-right: 1%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: greenyellow;
}
.first-number {
   display: flex;
   width: 100%;  
   background-color: aqua;
}
.firs-text {
   display: flex;
   background-color: burlywood;
}
.arrow {
   display: inline-flex;
   width: 10%;
   background-color: orange;
}

.second-column {
   display: flexbox;
   width: 25%;
   padding-right: 1%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: lightpink;
}
.second-number {
   display: flex;
   width: 100%;
   background-color: aqua;
}

.third-column {
   display: flexbox;
   width: 25%;
   padding-right: 1%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: greenyellow;
}

.fourth-column {
   display: flexbox;
   width: 25%;
   padding-right: 1%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: lightpink;
}