*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Footlight MT Light';
}

.container {
   display: flex;
   justify-content: center;
}

.general-header {
   align-items: first baseline;
   text-decoration: none;
   width: 100%;
   height: 10%;
   padding-bottom: 1ch;
}

.navbar {
   justify-content: space-between;
}

.left-column {
   width: 39%;
   font-family: 'Copperplate Gothic Boli';
   text-decoration: none;
   font-size: 28px;
   background-color: aqua;
}

.middle-column {
   width: 21%;
   text-transform: uppercase;
   font-size: 40px;
   background-color: coral;
}

.right-column {
   width: 39%;
   font-family: 'Copperplate Gothic Boli';
   text-decoration: none;
   font-size: 28px;
   background-color: aqua;
}

.summaries {
   display: inline-flex;
   width: 100%;
   padding-bottom: 2ch;
}

.first-summary {
   display: flex;
   width: 25%;
   height: 5%;
   padding-left: 7%;
   background-color: greenyellow;
}
.second-summary {
   display: flex;
   width: 25%;
   height: 5%;
   padding-left: 2%;
   background-color: lightpink;
}
.third-summary {
   display: flex;
   width: 25%;
   height: 5%;
   padding-left: 18%;
   background-color: greenyellow;
}
.fourth-summary {
   display: flex;
   width: 25%;
   height: 5%;
   padding-left: 12%;
   background-color: lightpink;
}

.posters {
   display: inline-table;   
}
.first-image {
   width: 25%;
   height: 576px;
}
.second-image {
   width: 25%;
   height: 576px;
}
.third-image {
   width: 25%;
   height: 576px;
}
.fourth-image {
   width: 25%;
   height: 576px;
}








